* {
	font-family: 'Microsoft YaHei', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
}
body {
	margin-bottom: 5rem;
	background: #f4f5f6;
}
li{
	list-style: none;
}
.cf {
	clear: both;
}
.hint{
	display: none;
}
.container{
	margin-top: 30%;
}
.container>div{
	/*margin:20px 0 ;*/
	text-align:center;
	/*background: blue;*/
	margin: 50px 20px;
    padding: 20px;
}