* {
	font-family: 'Microsoft YaHei', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	margin-bottom: 5rem;
	background: #fff	;
}
li{
	list-style: none;
}
.cf {
	clear: both;
}
.hint{
	display: none;
}
.rel{
	position: relative;
}
.abs{
	position: absolute;
}
.list-item{
    border-bottom: 1px solid #DED9D9;
	padding: 10px;
}
.list-item img {
    top: 40%;
    right: 5%;
    width: 1rem;
}
.biaozhu{
    font-size: .8rem;
    color: grey;
}
.list-theme{
    padding: 10px;
    border-bottom: 1px solid #DED9D9;
    display: none;
}
.list-theme a{
	color:black;
	padding-left: 10px;
}